span {
  color: blue;
}

.container {
  display: grid;
  grid: 80vh / 2fr 1fr;
}

.gridchild {
  /* border: 1px solid black; */
}

/* .sidepanel {
  background-color: rgba(9, 6, 6, 0.681);
} */

body {
  background-image: url("images/bg-img.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(4px);
}
